*{
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
}

main{
    position: relative;
    width: 50vw;
    height: auto;
    margin: 0 auto;
    border-radius: 25px;
    background-color: gray;
}

form{
    display: inline-block;
    margin: 5%;
}

div{
    margin: 10px 0;
}

#name>input{
    width: 30vw;
}

div > input{
    border-radius: 3px;
    border: 0 solid rgba(128, 128, 128, 0);
}

input:target{
    border: 0 solid gray;
}
#date>input{
    max-width: 5vw;
}

#cpf>input{
    width: 20vw;
}

#submit{
    position: absolute;
    bottom: 25px;
    right: 25px;
}

